# exclude all
/*

# Other Files.
!README.md

# Include git important files
!.gitmodules
!.gitignore
!.github/

# Include Important Folders
!src/

# Inlude Important Files
!app.config
!code_configuration.txt
!output.txt
!input.txt