#!! IF YOU HAVE ISSUES WITH THIS FILE, DELETE IT. A NEW ONE WILL BE GENERATED !!
#Start a line with # if you wish for it to not be processed (AKA a comment line)
#Start a line with $ if you wish to reference that on other lines. (AKA a variable) At the moment, only 1 variable is possible.
#   Best practise is to put them at the top.#Please indicate your separator: (eg: ',', '/', '|' sans ''. Default: ,)
separator=,
variable_indicator=@
#Please indicate the total amount of values per line. There should be one less separator (see above) than the value set here, per line. (Eg: Name, StreetAddress, City, State, Zip = 5. Default: 13)
total_values=5
booleans=[1,2,3,4]

